body{
    background-color: bisque;
    color: black;
    font-family: Verdana;
    
}
h1{
    color: blue;
    font-weight: bold;
}
h2{
    color: green;
}
hr{
    border-color: darkgreen;
}
img{
    height: 500px;
    width: 700px;
}
footer {
    bottom: 0;
    position:fixed;
}
