/* Base font size for rem calculation */
html {
  font-size: 16px; /* 1rem = 16px, sets base font size for rem */
}

body {
  background: #d2dc9d url(images/blackgoose.png) no-repeat center 100px fixed;
  font-family: Georgia, serif; /* Sets the body font to Georgia, serif */
  font-size: 1rem; /* 16px, base font size */
  line-height: 1.75rem; /* 28px, sets the line height to 1.75 times the font size */
  margin: 0 15% 0; /* 0px top and bottom margin, 15% margin on left and right */
}

header {
  background: rgba(255, 255, 255, 0.5) url(images/purpledot.png) repeat-x center
    top;
  background: url(images/purpledot.png) left top repeat-y,
    url(images/purpledot.png) right top repeat-y,
    url(images/gooseshadow.png) 90% bottom no-repeat;
  margin-top: 0; /* No margin at the top of the header */
  padding: 3rem 1rem 2rem 1rem; /* 3rem padding on top, 1rem on left and right, 2rem on bottom */
  text-align: center; /* Centers the text inside the header */
}

a {
  color: #939;
  text-decoration: none; /* Removes underline from all links */
}

a:visited {
  color: #937393;
}

a:hover {
  background-color: #fff;
  color: #c700f2;
}

a:active {
  background-color: #fff;
  color: #ff00ff;
}

h1 {
  color: #993399;
  font: bold 1.5rem Georgia, serif; /* 1.5rem (24px) font size, bold, using Georgia font */
  text-shadow: 0.1rem 0.1rem 0.2rem gray; /* Light shadow effect for the text */
}

h2 {
  color: #cc6600;
  font-size: 1rem; /* 16px font size for h2 */
  text-transform: uppercase; /* Transforms text to uppercase */
  letter-spacing: 0.5rem; /* 8px letter spacing */
  text-align: center; /* Centers the text */
}

dt {
  font-weight: bold; /* Makes definition term bold */
}

strong {
  font-style: italic; /* Makes text inside <strong> italic */
}

ul {
  list-style-type: none; /* Removes default bullet points from list items */
  margin: 0; /* Removes margin from unordered list */
  padding: 0; /* Removes padding from unordered list */
}

#info p {
  font-style: italic; /* Makes text inside paragraph italic */
}

.price {
  font-family: Georgia, serif; /* Uses Georgia, serif font for price */
  font-style: italic; /* Makes the price italic */
}

p.warning,
sup {
  font-size: 0.875rem; /* 14px, smaller font size for warning text and superscript */
}

.label {
  font-weight: bold; /* Makes label text bold */
  font-variant: small-caps; /* Displays the text in small caps */
  font-style: normal; /* Makes the text normal (no italics) */
}

h2 + p {
  text-align: center; /* Centers the text of the paragraph that follows an h2 */
  font-style: italic; /* Makes the text italic */
}
